<% if @commentable.comments.any? %>
  <h5>Comments:</h5>
  <% @commentable.comments.each do |comment| %>
    <% if comment.approved? %>
      <%= comment.author %> :
      <%= comment.content %>
    <% end %>
  <% end %>
<% end %>
