<% greet = ["Hello.", "Hi.", "Welcome.", "Greetings!"] %>
<h1><%= greet.sample %></h1>
<div class="row">
  <div class="medium-4 column">
    <p class="welcome_section">
      Thanks for visiting. I'm Alex Quel Lien, a Seattle-based web developer.
    </p>
  </div>
  <div class="medium-4 column">
    <p id="square" class="welcome_section">
      <!-- empty div for square test -->
    </p>
  </div>
</div>
<div class="row">
  <div class="medium-4 column">
    <p id="square" class="welcome_section">
       <!-- empty div for square test -->
    </p>
  </div>
  <div class="medium-4 column">
    <p class="welcome_section">
      The page is a little sparse right now, as you might expect, it's in development.
    </p>
  </div>
</div>
<div class="row">
  <div class="medium-4 column">
    <p class="welcome_section">
      You can check out some of the work I've done on the <%= link_to "Projects", projects_path %> page, or you can contact me at codefellow@aqlien.com
    </p>
  </div>
  <div class="medium-4 column">
    <p id="square" class="welcome_section">
      <!-- empty div for square test -->
    </p>
  </div>
</div>

<%= content_for :sidebar do %>
  <h4 style="min-height:30em"></h4>
<% end %>
